
*{
    margin: 0;
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100vh;

    background: #818274;
}



.carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 90%;
    height: 90%;

    background: #506266;
}

.flecha{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 10%;
    height: 100%;

    z-index: 9999;
    /* background-color: red; */
}


.slide{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80%;
    height: 90%;

    background: #BDE038;
    border-radius: 8px;

    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
    /* Tamaño en escala*/
    /* transform: scale(0.2); */
}

.photo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;

    transition: 1s;
}

img{
    width: 30%;
    height: auto;
}


.puntos{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.puntos img{
    width: 20px;
    height: auto;
}

.puntoActivo{
    width: 25px;
    background: #BDE038;
    transition: 0.5s;
    border-radius: 10px;
}